// Specific CSS for your home-page


.col-lg-8 {
  background-image: url("the_tree_house.png");
  background-size: cover;
  background-position: left bottom;
  height: 100vh;
}

.col-lg-4 {
  background-color: red;
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
}

.col-md-8 {
  background-image: url("the_tree_house.png");
  background-size: cover;
  background-position: left bottom;
  height: 100vh;
}

.col-md-4 {
  background-color: red;
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
}

.col-sm-12 {
  background-image: url("the_tree_house.png");
  background-size: cover;
  background-position: left bottom;
  height: 100vh;
}

.col-sm-11 {
  background-color: red;
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
}

.hire-button {
  margin-left: 75px;
  margin-top: -12px;
  border-bottom: 182px solid #24315E;
  border-left: 8px solid transparent;
  border-right: 25px solid transparent;
  transform: rotate(-90deg);
  height: 0;
  width: 100px;
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    font-weight: 300;
    color: #F76D6D;
    padding: 89px 10px 26px 10px;
    transform: rotate(90deg);
    width: 198%;
  }

}

.hire-button:after {
  position: relative;
  width: 54px;
  box-sizing: content-box;
  border-width: 500px 18px 0;
  border-style: solid;
  border-color: red transparent;
}



.first-box {
  background-color: #F76D6D;
  height: 50%;
}

.second-box {
  background-color: #24315E;
  height: 50%;
}

























