<div class="whole-page">
  <div class="row">
    <div class="col navigation-bar">
      <h1 class="name">Jack Bodley-Scott</h1>
      <div class="navbar">
        <h4 class="nav-item">About</h4>
        <h4 class="nav-item">Experience</h4>
        <h4 class="nav-item">Projects</h4>
        <h4 class="nav-item">Contact me</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="box">

    </div>
  </div>
</div>

<div class="rest">

</div>

