
<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="narbar">
      <div class="hire-button">
        <p>Hire Me</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-11">
    <div class="first-box">

    </div>
    <div class="second-box">

    </div>
  </div>

</div>





